@import "header.css";
@import "banner.css";
@import "catalogue-banner.css";
@import "categories.css";
@import "slider.css";
@import "footer.css";

:root {
  --white: #ffffff;
  --black: #000000;
  --grey: #B7B1B0;
  --footer:#2D2D33;
  --soft-white: #CDC6BE;
}

body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 5rem;
  font-weight: 400;
}
h2 {
  font-size: 4rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
}
h4 {
  font-size: 1.75rem;
  font-weight: 300;
}
h5 {}
h6 {}

p {}
a {}

strong {}


.small-top-text {
  text-transform: uppercase;
}

.text-xl {
  font-size: 2rem;
}

.oliveri-button {
  display: block;
  padding: 1rem 2rem;
  color: var(--white);
  border: solid 2px var(--grey);
  border-radius: 2px;
  background-color: var(--grey);
  text-decoration: none;
  width: fit-content;
  height: auto;
  transition: all 0.2s;
}

.oliveri-button:hover {
  color: var(--black);
  background-color: transparent;
}

/* Utility */
.container {
  margin: auto;
  padding-left: 6rem;
  padding-right: 6rem;
}

.vertical {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.gap {
  gap: 0.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {}

/* Utility Queries */
@media only screen and (max-width:1024px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media only screen and (max-width:767px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .flex-row {
    flex-direction: column;
  }
}

.header {}

.banner {}

.slider {}
